/mvnw text eol=lf
*.cmd text eol=crlf
src/main/resources/application.properties text merge=ours
src/main/resources/application.properties text rebase=ours
Dockerfile text rebase=ours
Dockerfile text merge=ours
pom.xml text rebase=ours
pom.xml text merge=ours